#Find the output of the following
#1.	If  name = ''' Hi How are you? Starterd learning python. It's really interesting.'''
#Then what is the output of following code

In [3]:
name = ''' Hi How are you? Starterd learning python. It's really interesting.'''
name

" Hi How are you? Starterd learning python. It's really interesting."

In [4]:
name[:]

" Hi How are you? Starterd learning python. It's really interesting."

In [5]:
name[-10:-5]

'teres'

In [6]:
name[3:12]

' How are '

In [7]:
name[12:3]

''

In [9]:
name[5:6]

'o'

In [10]:
name[-4:-12]

''

In [11]:
name[::2]

' iHwaeyu tredlann yhn tsral neetn.'

In [12]:
name[::-2]

'.nteen larst nhy nnaldert uyeawHi '

#2.L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
#a.	L1[:]
#b.	L1[::3]
#c.	L1[::-2]
#d.	How to extract  value “Happy” based on index and negative index
#e.	How to check type of data in list at 4th position
#f.	Extract values for 100, 300, 400

In [13]:
L1 = ['a','b',20,30,'t',100,300,400,'Happy','major']
L1

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [14]:
#a.	L1[:]
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [15]:
#b.	L1[::3]
L1[::3]

['a', 30, 300, 'major']

In [16]:
#c.	L1[::-2]
L1[::-2]

['major', 400, 100, 30, 'b']

In [19]:
#d.How to extract  value “Happy” based on index and negative index
L1[8]
L1[-2]

'Happy'

In [20]:
#e.How to check type of data in list at 4th position
print(type(L1[3]))

<class 'int'>

In [21]:
#f.Extract values for 100, 300, 400 
L1[5:8]

[100, 300, 400]

3.	If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”]then what is the output of following
•	L2[4]
•	L2[1:5]
•	L2[7]
•	L2[7][2]
•	L7[7][2:]
•	L2[ : 3]
•	L2[3:]

In [22]:
l2 =[1,2,3,5,['a','b','work hard'],100,200,'Success']
l2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [25]:
#L2[4]
l2[4]

['a', 'b', 'work hard']

In [26]:
#l2[1:5]
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
#l2[7]
l2[7]

'Success'

In [ ]:
#l2[7][2]
l2[7][2]

'c'

In [31]:
#l2[7][2:]
l2[7][2:]

'ccess'

In [32]:
l2[:3]

[1, 2, 3]

In [35]:
l2[3:]

[5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

4.	 the above l2 value ‘b’ must be changed to ‘BEE’.

In [34]:
l2[4][1]='BEE'
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

5.From l2 “BEE” has to discard.

In [36]:
del l2[4][1]
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

6.	In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

In [37]:
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [38]:
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

7.	From l2 extract insect information

In [40]:
l2[8]['insect']

['bee', 'moth']

8.	Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

In [41]:
d1={'a':10,'b':20,'c':30}
l2.insert(l2[1],d1)

9.Based on new l2 created here extract the value 10 from l2 dictionary.

In [42]:
l2[2]['a']

10

10.	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
•	L2[4][2]
•	L2[5][:]
•	L2[2] [:]
•	L2[1:5]
•	L2[5]

In [43]:
l2 =[1,2,3,5, (90,40,50,10),'Python', 400 ,['a','b','work hard'],100,200,'Success',(200,300,'Hundreds')]
l2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [44]:
#l2[4][2]
l2[4][2]

50

In [45]:
#l2[5][:]
l2[5][:]

'Python'

In [46]:
#l2[2]
l2[2]

3

In [47]:
#l2[1:5]
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [48]:
#l2[5]
l2[5]

'Python'

In [50]:
#l2[5][3:1]
l2[5][3:1]

''

In [51]:
#l2[-1]
l2[-1]

(200, 300, 'Hundreds')

In [52]:
#l2[-4:-3]
l2[-4:-3]

[100]

In [53]:
#l2[-4:-10]
l2[-4:-10]

[]

In [54]:
#l2[-7][2]
l2[-7][2]

't'

In [56]:
#l2[:-3]
l2[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [57]:
#l2[-3:]
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

#IF-elif-else:
#11.	Ask user to enter the marks and define if the user got distinction,first class, second class, pass, Fails.If marks are more than 80 output must be “You got distinction”.For marks more than 60 output must be “You got First class”.Marks more than 40 will display “You got second class”.Marks more than or equal to 35 “PASS” Otherwise Fail

In [60]:
def result_classification(marks):
  if marks>80:
    print("You got distinction")
  elif  marks>60:
    print("You got First class")
  elif marks>40:
    print("You got second class")
  elif marks>=35:
    print("PASS")
  else:
    print("Fail")

In [61]:
marks = float(input("Enter the marks: "))
result_classification(marks)

You got First class

#12.	Ask user to enter information about salary of the employee per year and
#rating received as A, B, C, D
#If salary upto 5 lpa then increament based on ratings
#are  A = 16% , B=12%, C= 10%, D=6%
#If salary upto 10 lpa then increament based on ratings
#are  A = 14% , B=10%, C= 8%, D=6%
#If salary upto 15 lpa then increament based on ratings
#are  A = 8% , B=6%, C= 4%, D = no increment
#If salary upto 23 lpa then increament based on ratings
#are  A = 7% , B=5%, C= 4%, D=no

In [64]:
salary = input("Enter your salary: ")
rating = input("Enter rating(A/B/C/D): ").upper()
if salary.replace('.', '', 1).isdigit():
    salary = float(salary)
    increment = 0
    if salary < 5:
        if rating == 'A':
            increment = 16
        elif rating == 'B':
            increment = 12
        elif rating == 'C':
            increment = 10
        elif rating == 'D':
            increment = 6
    elif salary < 10:
        if rating == 'A':
            increment = 14
        elif rating == 'B':
            increment = 10
        elif rating == 'C':
            increment = 8
        elif rating == 'D':
            increment = 6
    elif salary < 15:
        if rating == 'A':
            increment = 8
        elif rating == 'B':
            increment = 6
        elif rating == 'C':
            increment = 4
        elif rating == 'D':
            increment = 0
    elif salary < 23:
        if rating == 'A':
            increment = 7
        elif rating == 'B':
            increment = 5
        elif rating == 'C':
            increment = 4
        elif rating == 'D':
            increment = 0
    else:
        print("Salary is above defined range")
        exit()

    new_salary = salary + (salary * increment / 100)

    print("Increment percentage:", increment, "%")
    print("New salary:", new_salary)

else:
    print("Please enter valid salary")

Increment percentage: 8 %
New salary: 5.4

13.	Ask user to opt for courses for master degree based on the following
L1 = [“HR”, “Finance”, “Marketing”, “DS”]
Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.
If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

13.	Ask user to opt for courses for master degree based on the following
L1 = [“HR”, “Finance”, “Marketing”, “DS”]
Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.
If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [2]:
#Method-1-if else
core_fee=200000
analytics_extra_percent=0.10
Hostel_fee=200000
food_per_month=2000
transportation_per_semester=13000
l1=['HR','Finance','Marketing','DS']
subject=input("Which course you want to pursue(HR,Finance,Marketing,DS)").upper()
if subject not in  l1:
  print("Course is not available:")
else:
  analytics=input("Do you want analytics?(Y/N) :").upper()
  hostel=input("Do you want hostel?(Y/N) :").upper()
  food_months=int(input("Enter no. of foods months:"))
  transport=input("Do you want transportation facility?(semester/Annual) :").upper()
  course_fee=core_fee
  if subject !="DS" and analytics=='Y':
    analytics_fee=core_fee*analytics_extra_percent
    course_fee+=analytics_fee
  else:
    analytics_fee=0
  if hostel=='Y':
    Hostel_fee=Hostel_fee 
  else:
    Hostel_fee=0
  food_fee=food_per_month*food_months
  if transport=='SEMESTER':
    transport_fee=transportation_per_semester
  elif transport=='ANNUAl':
    transport_fee=transportation_per_semester*2
  else:
    print("Invalid transportation option")
    transport_fee=0
  total_cost=course_fee+Hostel_fee+food_fee+transport_fee 
  print("course_fee: ",course_fee)
  print("Hostel_Fee: ",Hostel_fee)
  print("food_fee: ",food_fee)
  print("Transport_Fee: ",transport_fee)
  print("-"*50)
  print("Total Annual Cost:",total_cost)

course_fee:  220000.0
Hostel_Fee:  200000
food_fee:  8000
Transport_Fee:  13000
--------------------------------------------------
Total Annual Cost: 441000.0

In [ ]:
#Using OOPs
class DegreeFee:
    def __init__(self):
        self.core_fee=200000
        self.analytics_extra_percent=0.10
        self.hostel_fee_per_year=200000
        self.food_per_month=2000
        self.transportation_per_semester=13000
        self.l1=['HR', 'FINANCE', 'MARKETING', 'DS']
        self.subject=""
        self.analytics=""
        self.hostel=""
        self.food_months=0
        self.transport=""
        self.analytics_fee=0
        self.course_fee=0
        self.hostel_fee=0
        self.food_fee=0
        self.transport_fee=0
        self.total_cost=0
    def take_input(self):
        self.subject=input("Which course you want to pursue (HR, Finance, Marketing, DS): ").upper()
        if self.subject not in self.l1:
            print("Course is not available")
            exit()
        self.analytics=input("Do you want analytics? (Y/N): ").upper()
        self.hostel=input("Do you want hostel? (Y/N): ").upper()
        self.food_months=int(input("Enter number of food months: "))
        self.transport=input("Transportation (SEMESTER/ANNUAL): ").upper()
    def calculate_fees(self):
        self.course_fee=self.core_fee
        if self.subject!= "DS" and self.analytics =='Y':
            self.analytics_fee =self.core_fee*self.analytics_extra_percent
            self.course_fee += self.analytics_fee
        else:
            self.analytics_fee=0
        if self.hostel=='Y':
            self.hostel_fee=self.hostel_fee_per_year
        else:
            self.hostel_fee=0
        self.food_fee=self.food_per_month*self.food_months
        if self.transport=='SEMESTER':
            self.transport_fee=self.transportation_per_semester
        elif self.transport=='ANNUAL':
            self.transport_fee=self.transportation_per_semester*2
        else:
            print("Invalid transport option")
            exit()
        self.total_cost=(self.course_fee+self.hostel_fee+self.food_fee+self.transport_fee)
    def print_bill(self):
        print("Course Selected     :",self.subject) 
        print("Analytics Fee (10%) :",self.analytics_fee)
        print("Course Fee          :",self.course_fee) 
        print("Hostel Fee          :",self.hostel_fee) 
        print("Food Fee            :",self.food_fee) 
        print("Transportation Fee  :",self.transport_fee)
        print("-"*50) 
        print("Total Annual Cost   :",self.total_cost)
obj = DegreeFee()
obj.take_input()
obj.calculate_fees()
obj.print_bill()

In [ ]:
#Method-1- If-else
Stationary_Bill = {
    "Books": {
        "1st-4th": {"Hindi": 60,"Marathi": 60,"English": 80,"Science": 90,"Maths": 100},
        "5th-8th": {"Hindi": 100,"Marathi": 100,"English": 100,"Science": 120,"Maths": 140},
        "9th-10th": {"Hindi": 150,"Marathi": 150,"English": 150,"Science": 200,"Maths": 250}},

    "Notebooks": {
        "Square": {100: 40,200: 70},
        "4 Lines": {100: 30,200: 50},
        "2 Lines": {100: 30,200: 50},
        "Single Lines": {100: 60,200: 100},
        "A4 Notebook": {100: 180}
 }
}
Book_Or_Notebook=input("What you want books or notebooks: ").lower()
bill={}
if Book_Or_Notebook=="books":
  print("Available standards",list(Stationary_Bill["Books"].keys()))
  std=int(input("Enter standard: "))
  if std==1 or std==2 or std==3 or std==4:
    key="1st-4th"
  elif std==5 or std==6 or std==7 or  std==8:
    key="5th-8th"
  elif std==9 or std==10:
    key="9th-10th"
  else:
    print("Invalid standard ")
    key=None
  if key is not None:
    print("using standard group:",key)
    print("Available subjects",list(Stationary_Bill["Books"][key].keys()))
    sub=input("Enter Subject").title()
    price= Stationary_Bill["Books"][key][sub]
    print("Price of the book",price)
    quantity=int(input("Enter quantity of books: "))
    total= price*quantity
    print("Item     :Book")
    print("Standard :",std)
    print("Subject  :",sub)
    print("Price    :",price)
    print("quantity :",quantity)
    print("Total Amt:",total)

  bill["Item"]="Book"
  bill["Stanadard"]=std
  bill["Standard_group"]=key
  bill["Subject"]=sub
  bill["Price_per_unit"]=price
  bill["Quantity"]=quantity
  bill["Total_amoount"]=total

elif Book_Or_Notebook=="notebooks":
  print("Available notebooks:",list(Stationary_Bill['Notebooks'].keys()))
  notebook_type= input("enter notebook type(square,single,A4 Notebook,...)")
  print("Available type",list(Stationary_Bill["Notebooks"][notebook_type].keys()))
  pages=int(input("How many pages notebook: "))
  price=Stationary_Bill["Notebooks"][notebook_type][pages]
  quantity=int(input("Enter quantity of notebooks: "))
  total= price*quantity
  print("Item      :Notebooks")
  print("Notebook Type :",notebook_type)
  print("Pages         :",pages)
  print("price         :",price)
  print("quantity      :",quantity)
  print("Total Amt     :",total)
else:
  print("invalid choise")

Available notebooks: ['Square', '4 Lines', '2 Lines', 'Single Lines', 'A4 Notebook']
Available type [100, 200]
Item      :Notebooks
Notebook Type : Square
Pages         : 200
price         : 70
quantity      : 3
Total Amt     : 210

In [ ]:
#using Function
Stationary_Bill = {
    "Books": {
        "1st-4th": {"Maths": 200, "English": 180},
        "5th-8th": {"Maths": 250, "Science": 300},
        "9th-10th": {"Physics": 400, "Chemistry": 380}
    },
    "Notebooks": {
        "square": {100: 40, 200: 70},
        "single": {100: 35, 200: 60},
        "A4 Notebook": {200: 90, 300: 120}
    }
}
def take_order():
    bill = {}
    choice = input("What you want (books/notebooks): ").lower()
    if choice == "books":
        bill["Item"] = "Book"
        print("Available standards:", list(Stationary_Bill["Books"].keys()))
        std = int(input("Enter standard: "))
        if std in [1, 2, 3, 4]:
            key = "1st-4th"
        elif std in [5, 6, 7, 8]:
            key = "5th-8th"
        elif std in [9, 10]:
            key = "9th-10th"
        else:
            print("Invalid standard")
            return None
        print("Available subjects:", list(Stationary_Bill["Books"][key].keys()))
        sub = input("Enter subject: ").title()
        if sub not in Stationary_Bill["Books"][key]:
            print("Invalid subject")
            return None
        price = Stationary_Bill["Books"][key][sub]
        quantity = int(input("Enter quantity: "))
        total = price * quantity
        bill.update({
            "Standard": std,
            "Standard_group": key,
            "Subject": sub,
            "Price_per_unit": price,
            "Quantity": quantity,
            "Total_amount": total
        })
    elif choice == "notebooks":
        bill["Item"] = "Notebook"
        print("Available notebooks:", list(Stationary_Bill["Notebooks"].keys()))
        notebook_type = input("Enter notebook type: ")
        if notebook_type not in Stationary_Bill["Notebooks"]:
            print("Invalid notebook type")
            return None
        print("Available pages:", list(Stationary_Bill["Notebooks"][notebook_type].keys()))
        pages = int(input("Enter pages: "))
        if pages not in Stationary_Bill["Notebooks"][notebook_type]:
            print("Invalid page option")
            return None
        price = Stationary_Bill["Notebooks"][notebook_type][pages]
        quantity = int(input("Enter quantity: "))
        total = price * quantity
        bill.update({
            "Notebook_Type": notebook_type,
            "Pages": pages,
            "Price_per_unit": price,
            "Quantity": quantity,
            "Total_amount": total
        })
    else:
        print("Invalid choice")
        return None
    return bill
def print_bill(bill):
    print("\n" + "=" * 40)
    for key, value in bill.items():
        print(f"{key} : {value}")
    print("=" * 40)
place_order = input("Do you want to place order? (yes/no): ").lower()
if place_order == "yes":
    bill_data = take_order()
    if bill_data:
        print_option = input("Do you want to print the bill? (yes/no): ").lower()
        if print_option == "yes":
            print_bill(bill_data)
        else:
            print("Order placed successfully.")
else:
    print("Thank you.")

Available standards: ['1st-4th', '5th-8th', '9th-10th']
Available subjects: ['Maths', 'English']

========================================
Item : Book
Standard : 3
Standard_group : 1st-4th
Subject : Maths
Price_per_unit : 200
Quantity : 1
Total_amount : 200
========================================

17.	Create a=100 
•	Convert a to string 
•	Convert a to list    
•	Convert a to tuple  
•	Convert a to dict 
•	Convert a to set 
•	Convert to float

In [3]:
a=100 
a

100

In [10]:
#Convert a to string
str(a)

'100'

In [11]:
#Convert a to list    
list(str(a))

['1', '0', '0']

In [12]:
#Convert a to tuple  
tuple(str(a))

('1', '0', '0')

In [13]:
#Convert a to dict 
dict([('a',a)])

{'a': 100}

In [14]:
#Convert a to set 
set(str(a))

{'0', '1'}

In [15]:
#Convert to float 
float(a)

100.0

8.Create city = “Pune” 
•	Convert to int     
•	Convert float 
•	Convert list  
•	Convert tuple 
•	Convert dict 
•	C 
•	Observe errors and note it down for all conversions

In [16]:
city ="Pune"
city

'Pune'

In [ ]:
#Convert to int     
city=int("Pune")
print(type(city))
#string can't be converted into int

ValueError: invalid literal for int() with base 10: 'Pune'

In [23]:
#Convert float 
city=int("Pune")
print(type(city))
#string can't be converted into float

ValueError: invalid literal for int() with base 10: 'Pune'

In [24]:
#Convert list  
list(city)

['P', 'u', 'n', 'e']

In [25]:
#Convert tuple 
tuple(city)

('P', 'u', 'n', 'e')

In [27]:
#Convert dict 
dict(enumerate(city))

{0: 'P', 1: 'u', 2: 'n', 3: 'e'}

In [28]:
#Convert ton set
set(city)

{'P', 'e', 'n', 'u'}

9.	Create a list as marks = [20,18,15,17,18] 
•	Convert to int 
•	Convert float 
•	Convert list 
•	Convert tuple 
•	Convert dict 
•	Convert set 
•	observe : errors and note it down for all conversions

In [29]:
marks = [20,18,15,17,18] 
marks

[20, 18, 15, 17, 18]

In [ ]:
#Convert to int 
int(list(marks))

In [ ]:
#Convert float 
float(marks)

In [38]:
#Convert list 
list(marks)

[20, 18, 15, 17, 18]

In [39]:
#Convert tuple 
tuple(marks)

(20, 18, 15, 17, 18)

In [40]:
#Convert dict 
dict(enumerate(marks))

{0: 20, 1: 18, 2: 15, 3: 17, 4: 18}

In [41]:
#Convert set 
set(marks)

{15, 17, 18, 20}

10.	Create the empty list snames 
•	 Add value 20 in the list using append 
•	 Add value 30 in the list using extend 
•	Add values in the list using append 
•	Add value “WORK" in the list using extend 
•	 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3] 
•	Add sname to combo using addition operator 
•	Add combo to snames using append 
•	Add combo to snames using extend.

In [1]:
#Create the empty list snames 
snames=[]

In [2]:
##Add value 20 using append
snames.append(20)
snames

[20]

In [3]:
#Add value 30 in the list using extend
snames.extend([30])
snames

[20, 30]

In [4]:
#Add values in the list using append
snames.append([40,50])
snames

[20, 30, [40, 50]]

In [10]:
#Add value “WORK" in the list using extend 
snames.extend(["Work"])

In [11]:
#Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3] 
l1=[1,'a','b',2,3]
l1

[1, 'a', 'b', 2, 3]

In [12]:
#Add sname to combo using addition operator 
l1.append(snames)

In [13]:
l1

[1, 'a', 'b', 2, 3, [20, 30, [40, 50], 'Work']]

In [14]:
#Add combo to snames using append 
l3=l1+snames
l3

[1, 'a', 'b', 2, 3, [20, 30, [40, 50], 'Work'], 20, 30, [40, 50], 'Work']

In [15]:
#Add combo to snames using extend. 
l1.extend([snames])

11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [17]:
l1=[1,'a']

In [18]:
l3=[1,2,3,4,5,6,7]
l3

[1, 2, 3, 4, 5, 6, 7]

In [19]:
l3.insert(l3[3],l1)

In [21]:
l3

[1, 2, 3, 4, [1, 'a'], 5, 6, 7]

12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.  
•	From the collection delete the record for “Nisha” 
•	Find the location of 20.50

In [22]:
collection=[1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]
collection

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

In [23]:
result=[]
for i in collection:
    if type(i)==int or type(i)==float:
        result.append(i*5)
    else:
        result.append(i)

In [24]:
collection.remove("Nisha")

In [25]:
collection

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [26]:
collection.index(20.50)

5

13.	Create a comprehensive list for square upto 10

In [27]:
square=[i*i  for i  in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14.	Create the comprehensive list to find number divisible by 13 till 200

In [28]:
div_13=[i for i in range(13,200) if i%13==0]
div_13

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15.	Create the list which is divisible by 4 from 300 to 400

In [30]:
div_4=[i for i in range(300,400) if i%4==0]
div_4

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

16.	Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
Then generate a new list based on all combination of x and y.
For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
And output will be [[0,0],[0,1]]

If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [31]:
x=3
y=4
x_list=list(range(x))
y_list=list(range(y))
result=[[i,j] for i in x_list for j in y_list]
result

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3]]

17.	What is the difference between add and update methods in set?

In [32]:
#add()-adds a single element
#update()-add multipleelements(iterable)

18.	What is the difference between append and extend methods in list?

In [ ]:
#append()- it adds a element at last position
#extend()-

19.	What is the difference between pop and remove methods?

In [ ]:
#pop()- Adds element as single item
#Remove- Adds elements one by one

20.	What is the difference between discard, pop, remove methods?

In [ ]:
#remove()- error is found
#discard()- error is not found
#pop()- removeas last element

21.	How to create empty set?

In [37]:
s = set()
ss = set()

22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [38]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1
s2

{3, 4, 5, 6}

In [39]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [40]:
s1.intersection(s2)

{3, 4}

In [41]:
s1.difference(s2)

{1, 2}

In [42]:
s2.difference(s1)

{5, 6}

23.	Create l2 as a list and perform set operation on s1 with l1

In [46]:
l2=[3,4,7,8]
s1.union(l2)

{1, 2, 3, 4, 7, 8}

In [47]:
s1.intersection(l2)

{3, 4}

In [48]:
s1.difference(l2)

{1, 2}

24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [49]:
name=input("Enter name: ")
dob=input("Enter  DOB (dd-mm-yyyy): ")
password=name[0:4]+'@'+dob[:2]+dob[3:5]
print(password)

divy@3010

25.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [50]:
name=input("Enter name: ")
dob=input("Enter  DOB (dd-mm-yyyy): ")
password=name[0:4]+'@'+dob[-4:]
print(password)

Divy@2003

In [52]:
#26.	Create the format mentioned here.
#*
#* *
#* * *
#* * * *
for i in range(1,5):
    print('*'*i)

*
**
***
****

In [53]:
#27.	Create the format as mentioned below:
#****
#***
#**
#*
for i in range(4,0,-1):
    print('*'*i)

****
***
**
*

In [30]:
#28.	Str_val = “ABCD” then create the format as mentioned below:
#A
#A B
#A B C
#A B C D
str_val='ABCD'
for i in  range(1,len(str_val)+1):
    for ch in str_val[:i]:
        print(ch,end="")
    print()

A
AB
ABC
ABCD

In [55]:
#29.	Create the format mentioned below:
#A
#BB
#CCC
#DDDD
for i,ch in enumerate('ABCD',start=1):
    print(ch*i)

A
BB
CCC
DDDD

In [56]:
#30.	Create the format mentioned below:
#1
#22
#333
#4444
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [58]:
#31.Val = “ABCD”  based on the Val, create the format mentioned below
#D
#DC
#DCB
#DCBA
val="ABCD"
for i in range(1,len(val)+1):
    print(val[::-1][:i])

D
DC
DCB
DCBA

In [59]:
#32.	Ask user to enter the string. If string is UPGRAD then output must be
#D
#DA
#DAR
#DARG
#DARGP
#DARGPU
s = input("Enter string: ")

rev = s[::-1]
for i in range(1, len(rev)+1):
    print(rev[:i])

a
ay
ayv
ayvi
ayviD

In [60]:
#33.	Create a list of odd numbers from 1 to 10
#1.	Using for loop
#2.	Using comprehensive list
odd_list=[]
for i in range(1,11):
    if i%2!=0:
        odd_list.append(i)
odd_list

[1, 3, 5, 7, 9]

In [61]:
#2.	Using comprehensive list
odd_list=[i for i in range(1,11) if i%2!=0]
odd_list

[1, 3, 5, 7, 9]

In [62]:
##34.Create even number list using for loop from 200 to 250
even_list=[]
for i in range(200,250):
    if i%2==0:
        even_list.append(i)
even_list

[200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248]

In [64]:
#35.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element by 2 and display the answer
list2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]
result = []
for item in list2:
    result.append(item*2)
print(result)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [69]:
#38.Create a function to validate user first name/last name. 
#User first name/last name should contain only characters. No special characters, numbers, space in name
Fname=input("Enter First Name: ")
Lname=input("Enter Last Name: ")
def validate_name():
    if(Fname.isalpha() and Lname.isalpha() or not Fname.isdigit() and  Lname.isdigit()):
        return Fname+" "+Lname
Full_name=validate_name()
Full_name

'Divya Patil'

In [3]:
##39.Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space
Mobile_Number=input("Enter mobile no.: ")
def validate_mobile_number():
    if(Mobile_Number.isdigit() and len(Mobile_Number)==10):
        return Mobile_Number
validate_mobile_number()

'7364857847'

In [8]:
#40.Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.
name=input("Enter Your Name")
DOB=input("Enter Your DOB")
def generate_password():
  if name.isalpha() and DOB.replace('-'," ").isdigit:
    return name[:4]+DOB[6:]

In [9]:
generate_password()

'Divy2003'

In [10]:
#41.Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details
#in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
#For example:
#{}
#{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}
#{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
#2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}
def val_name(name):
  if name.isalpha():
    return name, True
  else:
    return "Error",False
def val_mobile(mobile):
  if mobile.isdigit() and  len(mobile)==10:
    return mobile,True
  else:
    return "Error",False
def accept_input():
  name=input("Enter your name: ")
  dob=input("Enter DOB (dd-mm-yyyy): ")
  mobile=input("Enter mobile no.: ")
  return name,dob,mobile

In [11]:
#42.Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
customer={}
cust_no=1
while True:
    name,dob,mobile=accept_input()
    name,mob_flag=val_mobile(mobile)
    if not mob_flag:
        price("Mobile_Number must be 10 digits.")
        continue
    customer[cust_no]={
        "name":name,
        "DOB":dob,
        "mobile":mobile
    }
    cust_no +=1
    x=input("Do you want to add another customer information?(yes/no): ").lower()
    if x !="yes":
        break
print(customer)
with open("C:/Users/HP/Desktop/Bizmetric/PYTHON/Data.txt",'w') as file:
    file.write(str(customer))

{1: {'name': '7276222480', 'DOB': '30-10-2003', 'mobile': '7276222480'}}

In [ ]:
#43.Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
#44.

In [ ]:
#45.Dict1= {“Key”: {“subkey”:20} ,  “k2”:{“sub2” : 5}, “k3” : {“sub4” :16},  “k4” : {“sub4” : 6}}
#Sort elements based on values
#Output must be {,  “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6},  “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}	
Dict1={'Key': {'subkey':20},
       'k2':{'sub2':5}, 
       'k3': {'sub4':16},
       'k4': {'sub4':6}}

In [16]:
#46.Create a function to calculate age till now.
import datetime
from datetime import date,datetime
def age_calculator(dob):
    try:
        DOB=datetime.strptime(dob,"%d-%m-%Y").date()
        today=date.today()
        age=today.year-DOB.year
        if(today.year,today.month)<(DOB.year,DOB.month):
            age -=1
        return age
    except ValueError:
        print("Invalid date Format")

In [17]:
print(age_calculator("30-10-2003"))

23

In [ ]:
#47.Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.
def check_age_eligibility(dob,eligibility_age):
    if isinstance(dob,str):
        dob=datetime.strptime(dob,"%d-%m-%Y").date()
    today=date.today()
    age=today.year-dob.year
    if (today.month,today.day)<(dob.month,dob.day):
        age -=1
        if age >=eligibility_age:
            return f"Eligible(Age:{age})"
        else:
            return f"Not Eligible(Age: {age})"

In [27]:
print(check_age_eligibility("30-10-2003",25))

Not Eligible(Age: 22)

In [ ]:
#48.Create total hrs based on input sign in and signout time.
sign_in=input("Enter sign in time(HH:MM): ")
sign_out=input("Enter sign out time(HH:MM): ")
t1=datetime.strptime(sign_in,"%H:%M")
t2=datetime.strptime(sign_out,"%H:%M")
total_time=t2-t1
print(total_time)

-1 day, 23:45:00

In [32]:
#49.Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.  
def palindrome(str1):
    if str1==str1[::-1]:
        print(f"{str1} is palindrome")
    else:
        print(f"{str1} is not palindrome")

In [34]:
palindrome("anil")

anil is not palindrome

In [35]:
#50.Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100 
def fibonacci_series():
    a=0
    b=1
    while a<=100:
        print(a,end=" ")
        c=a+b
        a=b
        b=c
fibonacci_series()

0 1 1 2 3 5 8 13 21 34 55 89

In [36]:
#51.Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1
num=int(input("ENter a number: "))
fact=1
for i in range(1,num+1):
    fact=fact*i
print("Factorial of",num, "is", fact)

Factorial of 5 is 120

In [39]:
#52.Write a program to find largest number in the list.
list1=[10,45,23,89,67,12]
lagest_number=list1[0] 
for num in list1:
    if num>lagest_number:
        lagest_number=num
print("Largest number is ",lagest_number)

Largest number is  89

In [41]:
#53.Write a program to check frequency of each element in the list.
l1= [1, 2, 2, 3, 1, 4, 2]
freq={}
for item in l1:
    if item in freq:
        freq[item] +=1
    else:
        freq[item]=1
print(freq)

{1: 2, 2: 3, 3: 1, 4: 1}

In [42]:
#54.There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1=[1,2,3,4,5]
l2=[3,4,2,8,9]
common=[]
for item in l1:
    if item in l2:
        common.append(item)
print(common)

[2, 3, 4]